dist: trusty
sudo: false
language: python
cache: pip
addons:
  postgresql: "9.3"
  apt:
    packages:
      - postgresql-9.3-postgis-2.3
services:
  - postgresql

matrix:
  include:
    - { python: "3.4", env: TOXENV=py34-django111 }
    - { python: "3.5", env: TOXENV=py35-django111 }
    - { python: "3.6", env: TOXENV=py36-django111 }
    - { python: "3.4", env: TOXENV=py34-django20 }
    - { python: "3.5", env: TOXENV=py35-django20 }
    - { python: "3.6", env: TOXENV=py36-django20 }
    - { python: "3.5", env: TOXENV=py35-django21 }
    - { python: "3.6", env: TOXENV=py36-django21 }

    # https://github.com/travis-ci/travis-ci/issues/9815
    - env: TOXENV=py37-django20
      python: "3.7"
      dist: xenial
      sudo: true
      addons:
        postgresql: "9.4"
        apt:
            packages:
            - postgresql-9.4-postgis-2.4
      services:
        - postgresql

    # https://github.com/travis-ci/travis-ci/issues/9815
    - env: TOXENV=py37-django21
      python: "3.7"
      dist: xenial
      sudo: true
      addons:
        postgresql: "9.4"
        apt:
            packages:
            - postgresql-9.4-postgis-2.4
      services:
        - postgresql

branches:
  only:
    - master

install:
  - pip install coverage tox

before_script:
  - createdb django_restframework_gis
  - psql -U postgres -d django_restframework_gis -c "CREATE EXTENSION postgis;"

script:
  - coverage run --source=rest_framework_gis $(command -v tox)

after_success:
  coveralls
