dist: xenial
language: python
cache: pip
addons:
  postgresql: "9.4"
  apt:
    packages:
      - postgresql-9.4-postgis-2.4
services:
  - postgresql

matrix:
  include:
    - { python: "3.5", env: TOXENV=py35-django111 }
    - { python: "3.6", env: TOXENV=py36-django111 }
    - { python: "3.5", env: TOXENV=py35-django20 }
    - { python: "3.6", env: TOXENV=py36-django20 }
    - { python: "3.7", env: TOXENV=py37-django20 }
    - { python: "3.5", env: TOXENV=py35-django21 }
    - { python: "3.6", env: TOXENV=py36-django21 }
    - { python: "3.7", env: TOXENV=py37-django21 }

branches:
  only:
    - master

install:
  - pip install coverage tox
  - pip install docutils pygments  # for setup.py check -r -s

before_script:
  - createdb django_restframework_gis
  - psql -U postgres -d django_restframework_gis -c "CREATE EXTENSION postgis;"

script:
  - coverage run --source=rest_framework_gis $(command -v tox)
  - python setup.py check -r -s

after_success:
  coveralls
