dist: focal
language: python
cache: pip

addons:
  postgresql: "12"
  apt:
    packages:
      - postgresql-12-postgis-3
services:
  - postgresql

matrix:
  include:
    - { python: "3.6", env: TOXENV=py36-django21 }
    - { python: "3.7", env: TOXENV=py37-django21 }
    - { python: "3.6", env: TOXENV=py36-django22 }
    - { python: "3.7", env: TOXENV=py37-django22 }
    - { python: "3.6", env: TOXENV=py36-django30 }
    - { python: "3.7", env: TOXENV=py37-django30 }
    - { python: "3.6", env: TOXENV=py36-django31 }
    - { python: "3.7", env: TOXENV=py37-django31 }
    - { python: "3.8", env: TOXENV=py38-django30 }
    - { python: "3.8", env: TOXENV=py38-django31 }

branches:
  only:
    - master

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable -y
  - sudo apt-get update -q
  - sudo apt-get install binutils libproj-dev gdal-bin -y

install:
  - pip install tox
  - pip install docutils pygments  # for setup.py check -r -s

before_script:
  - createdb django_restframework_gis
  - psql -U postgres -d django_restframework_gis -c "CREATE EXTENSION postgis;"

script:
  - tox -e travis
  - python setup.py check -r -s
