psycopg2~=2.9.12
# django-filter dependency is also defined here so pip resolves it together
# with the Django version pinned by tox, instead of upgrading Django
# to the latest.
django-filter>=23.5,<27.0
contexttimer
# QA checks
openwisp-utils[qa]~=1.3.0
