---
name: Django Rest Framework Gis CI Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Python==${{ matrix.env.python }} | ${{ matrix.env.TOXENV }}
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: postgis/postgis:17-3.5-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: django_restframework_gis
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        env:
          # DRF 3.14
          - python: "3.9"
            TOXENV: py39-django42-djangorestframework314
          - python: "3.10"
            TOXENV: py310-django42-djangorestframework314
          - python: "3.11"
            TOXENV: py311-django42-djangorestframework314
          # DRF 3.15
          - python: "3.10"
            TOXENV: py310-django50-djangorestframework315
          - python: "3.11"
            TOXENV: py311-django50-djangorestframework315
          - python: "3.12"
            TOXENV: py312-django50-djangorestframework315
          - python: "3.13"
            TOXENV: py313-django50-djangorestframework315
          - python: "3.10"
            TOXENV: py310-django51-djangorestframework315
          - python: "3.11"
            TOXENV: py311-django51-djangorestframework315
          - python: "3.12"
            TOXENV: py312-django51-djangorestframework315
          # DRF 3.16
          - python: "3.11"
            TOXENV: py311-django50-djangorestframework316
          - python: "3.12"
            TOXENV: py312-django50-djangorestframework316
          - python: "3.11"
            TOXENV: py311-django51-djangorestframework316
          - python: "3.12"
            TOXENV: py312-django51-djangorestframework316
          - python: "3.13"
            TOXENV: py313-django51-djangorestframework315
          - python: "3.10"
            TOXENV: py310-django52-djangorestframework315
          - python: "3.11"
            TOXENV: py311-django52-djangorestframework315
          - python: "3.12"
            TOXENV: py312-django52-djangorestframework315
          - python: "3.13"
            TOXENV: py313-django52-djangorestframework315
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python ${{ matrix.env.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.env.python }}
          cache: "pip"
          cache-dependency-path: |
            **/requirements*.txt

      - name: Install Dependencies
        id: deps
        run: |
          sudo apt -qq update
          sudo apt -qq -y install binutils libproj-dev gdal-bin
          pip install -U pip wheel setuptools
          pip install -U -r requirements-test.txt
          pip install tox docutils pygments twine

      - name: QA checks
        run: |
          ./run-qa-checks

      - name: Tests
        if: ${{ !cancelled() && steps.deps.conclusion == 'success' }}
        run: |
          tox -e ${{ matrix.env.TOXENV }}
          coverage combine
          coverage xml
        env:
          POSTGRES_HOST: localhost

      - name: Upload Coverage
        if: ${{ success() }}
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          format: cobertura
          flag-name: python-${{ matrix.env.env }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  coveralls:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
